header {
    background-color: lightblue;
    text-align: center;
}
h1 {
    color: darkred;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h2 {
    color: darkred;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: lightblue;
}
img {
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 8px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30 px;
}

.box {
  background-color: lightgray;
  padding: 20px;
  margin: 10px;
}
@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
}
button {
    background color: darkred;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.child {
    background color: darkgreen;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}